<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List</title>
</head>
<body>
<table class="table" border="2">
    <thead>
    <tr>

        <td>Name</td>
        <td>Price</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product,status : ${productList}">
       
        <th th:text="${product.name}"></th>
        <th th:text="${product.price}"></th>
    </tr>
    </tbody>
</table>

<div>
    <a th:href="@{'/'(page=${productList.number - 1}, bl=${bl1})}" th:if="${productList.hasPrevious()}">Trước</a>
    <span th:text="${productList.number + 1}"></span>/<span th:text="${productList.totalPages}"></span>
    <a th:href="@{'/'(page=${productList.number + 1}, bl=${bl1})}" th:if="${productList.hasNext()}">Sau</a>
</div>
<h1>hello</h1>
</body>
</html>