<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="/views/layout :: head">

</head>
<body>
<table id="customers">
    <thead>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Address</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>View</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="row,rowStat: ${list}">
        <td th:text="${row.getName()}"></td>
        <td th:text="${row.getEmail()}"></td>
        <td th:text="${row.getAddress()}"></td>
        <td><a th:href="@{customer/{id}/edit(id=${row.getId()})}">Edit</a></td>
        <td><a th:href="@{customer/{id}/delete(id=${row.getId()})}">Delete</a></td>
        <td><a th:href="@{customer/{id}/view(id=${row.getId()})}">View</a></td>
    </tr>

    </tbody>
</table>


<footer th:replace="/views/layout :: footer"></footer>
</body>

</html>