<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Trang xoa</h2>
<div id="form">
    <form  th:action="@{/remove}" th:object="${blogDelete}" method="post" novalidate="novalidate">
<!--        <input type="hidden" th:field="*{id}">-->
        <div>
            <label>Name</label>
            <input type="text" th:field="*{name}"/>
        </div>
        <div>
            <label>Date</label>
            <input type="email" th:field="*{date}"/>
        </div>
        <div>
            <label>Country</label>
            <input type="text" th:field="*{country}"/>
        </div>


        <input type="submit" value="Remove"/>

    </form>
</div>
</body>
</html>