<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
</head>
<body>
<h3>Blog</h3>
<hr>
<!--<div class="notify">-->
<!--    <div th:if="${success}">-->
<!--        <span th:text="${success}"></span>-->
<!--    </div>-->
<!--</div>-->
<!--<p>-->
<!--    <a th:href="@{/create}">-->
<!--        Add New Blog-->
<!--    </a>-->
<!--</p>-->
​<a  href="/create">Add to List </a>
<h2 th:if="${list.isEmpty()}" style="color: red">
    No Blog List</h2>
<table id="customers" th:unless="${list.isEmpty()}">
    <thead>
    <tr>
        <th>Name</th>
        <th>Date</th>
        <th>Country</th>
        <th>View</th>
        <th>Delete</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="list : ${list}">
        <td th:text="${list.getName()}"></td>
        <td th:text="${list.getDate()}"></td>
        <td th:text="${list.getCountry()}"></td>
        <td><a th:href="@{/{id}/view(id=${list.id})}">View</a></td>
        <!--        <td><a th:href="@{{id}/edit(id=${blog.id})}">Edit</a></td>-->
        <td><a th:href="@{/{id}/delete(id=${list.id})}">Delete</a></td>
        <!--        <td><a th:href="@{view/{id}(id=${blog.id})}">View</a></td>-->
    </tr>
    </tbody>
</table>
</body>
</html>