<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/blog/layout::head}">
<body>
<h3>View BLOG</h3>
<p>
    <a th:href="@{/blog}">
        Back to blog list
    </a>
</p>
<div id="detail">
    <div class="cusdetail">
        <label>Blog Name :</label>
        <label th:text="${blogView.blogName}"></label>
    </div>
   <div class="cusdetail">
        <label>Content :</label>
       <label th:text="${blogView.content}"></label>
   </div>
    <div class="cusdetail">
        <label>Category :</label>
        <label th:text="${blogView.category.nameCategory}"></label>
    </div>
</div>
<footer th:replace="blog/layout :: footer"></footer>
</body>
</body>
</html>