<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form id="form" th:action="@{/save}" th:object="${book}" method="post">

    <input th:type="hidden" name="id" th:field="*{id}">

    <table>
        <tr>
            <td>Book name:</td>
            <td><input type="text" size="95px" th:field="*{name}" readonly/></td>
        </tr>
        <tr>
            <td>Author Book:</td>
            <td><input type="text" size="95px" th:field="*{author}" readonly/></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button type="submit">Borrow</button>
            </td>
        </tr>

    </table>
    <p th:text="${otp}"></p>

</form>
</body>
</html>