<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/create">Add to list</a>
<form action="/customer" th:object="${list}">
    <table>
        <tr>
            <th>Name</th>
            <th>Phone Number</th>
            <th>Age</th>
            <th>Email</th>
        </tr>
        <tr th:each="list : ${list}">
            <td th:text="${list.name}"></td>
            <td th:text="${list.phoneNumber}"></td>
            <td th:text="${list.age}"></td>
            <td th:text="${list.email}"></td>
        </tr>
    </table>

</form>

</body>
</html>